.massages {
    display: grid;
    background-color: #d7d4d4;
    border-radius: 3px;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 20px;
    padding: 40px 20px;
    position: relative;
}

.wrapper span {
    left: 0;
    bottom: -30px;
}




.button {
    width: 30px;
    height: 30px;
    background-image: url("../../../asseds/img/send_message.png");
    background-size: cover;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.massage {
    max-width: 280px;
    justify-self: start;
    padding: 20px;
    margin: 10px;
    background-color: #ffffff;
    border-radius: 30px;
}

.admin {
    justify-self: end;
}