

/*    user   */

.user {
    display: grid;
    grid-template-columns: min-content 1fr;
    gap: 20px;
}

.user_profile {
    position: relative;
}

.name_user {
    font-size: 20px;
    font-weight: 400;
}

.user__status {
    margin-bottom: 10px;
}

.contacts {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.contacts__link {
    color: #525252;
    text-decoration: none;
    transition: .4s;
}

.contacts__link:hover {
    color: red;
}

/*   Avatar   */

.avatar {
    position: relative;
}

.avatar__img {
    width: 200px;
    height: 200px;
    background-size: cover;
    border: none;
    border-radius: 5px;
    vertical-align: bottom;
}

.avatar__form {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
    border-radius: 5px;
    transition: .4s;
}

.avatar__input {
    opacity: 0;
    visibility: hidden;
    position: absolute;
}

.avatar__label {
    text-align: center;
    width: 100%;
    padding: 8px;
    font-size: 12px;
    background-color: #000000b4;
    border-radius: 0 0 5px 5px;
}

.avatar__labelText {
    color: #fff;
    margin: 10px;
    cursor: pointer;
}


/*     profile setting    */

.setting__button {
    position: absolute;
    right: 0;
    top: 0;
    margin: 10px;
    padding: 10px;
    width: 20px;
    height: 20px;
    border: none;
    background-image: url('../../../asseds/img/setting.svg');
    background-color: transparent;
    cursor: pointer;
}





/*  form  */

.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    background-color: white;
    border-radius: 3px;
    border: 1px solid #d7d4d4;
}

.checkbox {
    margin-left: 10px;
    font: 400 13.3333px Arial;
}

.inputBox {
    display: flex;
    flex-flow: nowrap;
    justify-content: stretch;
}


