.form {
    padding: 20px;
    border-radius: 3px;
    background-color: #d7d4d4;
}

.form__header {
    margin: 10px;
}

.form__item {
    margin: 10px;
    padding: 5px;
    border: 1px solid grey;
    border-radius: 3px;
}